streamlit
openai
audio_recorder_streamlit
streamlit-float
PyMuPDF
nltk
pyyaml
tqdm
sentence-transformers
chromadb
spacy
cupy-cuda12x
torch
pydub
langchain
langchain-community
langchain-huggingface
SpeechRecognition
